/* ===== RESET GENERAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* FONDO GENERAL  */
body {
  background-color: #1f1f1f; 
  color: #ffffff;
}


.navbar {
  background-color: #ffffff !important;
  border-bottom: 2px solid #000000;
}

.navbar-brand {
  color: #000000 !important;
  font-weight: bold;
}

.nav-link {
  color: #1f1f1f !important;
}

.nav-link:hover {
  color: #000000 !important;
  text-decoration: underline;
}

.navbar-toggler {
  border-color: #000000;
}

.navbar-toggler-icon {
  filter: invert(0);
}

/* CARRITO */
.navbar-text {
  color: #000000;
  font-size: 18px;
}

/*  CONTENEDOR PRINCIPAL*/
.container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MENSAJE DE BIENVENIDA  */
.container h2 {
  background-color: #000000; 
  color: #ffffff; 
  padding: 30px 40px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.15);
}
