* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ===== FONDO GENERAL ===== */
body {
  background-color: #1f1f1f;
  color: #ffffff;
}

/* ===== NAVBAR ===== */
.navbar {
  background-color: #b0b0b0 !important; /* gris */
  border-bottom: 2px solid #000000;
}

.navbar-brand {
  color: #000000 !important;
  font-weight: bold;
}

.navbar-text {
  color: #000000;
  font-size: 18px;
}

.navbar-toggler {
  border-color: #000000;
}

.navbar-toggler-icon {
  filter: invert(0);
}

/* ===== LINKS NAVBAR ===== */
.nav-link {
  background: none;
  border: none;
  cursor: pointer;
  color: #1f1f1f !important;
  padding: 8px 15px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: #000000;
  color: #ffffff !important;
}

.active-link {
  background-color: #000000; 
  color: #000000!important;
  font-weight: 900;  
  border: 3px solid #ffffff;   /* borde fuerte */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}



/* ===== CONTENEDOR PRINCIPAL ===== */
.container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== MENSAJE PRINCIPAL ===== */
.container h2 {
  background-color: #000000;
  color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.15);
}
